<div id="pat-signup-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">

        <div class="row">
          <div class="col-lg-3 col-lg-offset-9">
            <%= simple_form_for(Patient.new, as: "patient", url: registration_path("patient")) do |f| %>
              <div class="form-inputs">
                <%= f.input :first_name, required: false, autofocus: true, label: false, placeholder: "First Name" %>
                <%= f.input :last_name, required: false, autofocus: true, label: false, placeholder: "Last Name" %>
                <%= f.input :email, required: false, autofocus: true, label: false, placeholder: "Email" %>
                <%= f.input :password, required: false, label: false, placeholder: "Password" %>
                <%= f.input :password_confirmation, required: true, label: false, placeholder: "Password Confirmation" %>
              </div>

              <div class="form-actions">
                <%= f.button :submit, "Sign Up", class: "expand btn btn-success" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


