<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Heallog.com | A unique platform to track your real-time health data</title>
  <meta name="description" content="Secure platform to track your real-time vitals and health records." />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
</head>
<body>
  <%#= render "flashes" -%>
  <%= yield %>
  <%= render "javascript" %>
</body>
</html>
